$bg-color: #2c3e50;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background: $bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    audio{
        display: block;
    }
}

.player{
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin: 25px;
    width: 30vw;
    height: 30vw;
    min-width: 210px;
    min-height: 210px;
    &, .cover img{
        border-radius: 4px;
    }
    .cover{
        width: 100%;
        height: 100%;
        cursor: pointer;
        .progress{
            position: absolute;
            width: 0%;
            height: 102%;
            background-color: $bg-color;
            opacity: 0.2;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    .controls{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        width: 100%;
        height: 20%;
        margin-bottom: 10px;
        div.btn{
            cursor: pointer;
            opacity: 0.2;
            transition: opacity 0.3s ease;
            &:hover{
                opacity: 1;
            }
        }
        .playBtn{
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            height: 100%;
            border-radius: 50px;
        }
    }
}
