* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  background: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
}
body audio {
  display: block;
}

.player {
  display: flex;
  flex-flow: column;
  position: relative;
  align-items: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin: 25px;
  width: 30vw;
  height: 30vw;
  min-width: 210px;
  min-height: 210px;
}
.player, .player .cover img {
  border-radius: 4px;
}
.player .cover {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.player .cover .progress {
  position: absolute;
  width: 0%;
  height: 102%;
  background-color: #2c3e50;
  opacity: 0.2;
}
.player .cover img {
  width: 100%;
  height: 100%;
}
.player .controls {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 20%;
  margin-bottom: 10px;
}
.player .controls div.btn {
  cursor: pointer;
  opacity: 0.2;
  transition: opacity 0.3s ease;
}
.player .controls div.btn:hover {
  opacity: 1;
}
.player .controls .playBtn {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  border-radius: 50px;
}

/*# sourceMappingURL=main.css.map */
